<div class="row">
  <div class="col-md-6 offset-md-3">
    <nb-card>
      <nb-card-header>Thông tin phiếu xuất</nb-card-header>
      <nb-card-body>
        <form>
          <div style="display:none;" class="form-group row">
            <label for="inputEmail1" class="col-sm-3 col-form-label">Số phiếu xuất</label>
            <div class="col-sm-8">
              <input type="text" [(ngModel)]="Sophieuxuat" name="sophieuxuat" class="form-control" id="inputEmail1" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="col-sm-3 col-form-label">Ngày xuất</label>
            <div class="col-sm-8">
              <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                          name="ngayxuat" [(ngModel)]="Ngayxuat" ngbDatepicker #d="ngbDatepicker">
                    <button class="btn btn-primary btn-icon" (click)="d.toggle()" type="button">
                      <i class="ion-calendar"></i>
                    </button>
                  </div>
                </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail1" class="col-sm-3 col-form-label">Nhân viên</label>
            <div class="col-sm-8">
              <select [(ngModel)]="MaNV" name="manv" class="form-control">
                <option value="*">Chọn nhân viên</option>
                <option *ngFor="let item of nhanviens" [ngValue]="item._id">{{item.TenNV}} - {{item.MaNV}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail1" class="col-sm-3 col-form-label">Khách hàng</label>
            <div class="col-sm-8">
              <select [(ngModel)]="LoaiKH" name="loaikh" class="form-control">
                <option value="*">Chọn khách hàng</option>
                <option *ngFor="let item of khachhangs" [ngValue]="item._id">{{item.TenKH}} - {{item.LoaiKH}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail1" class="col-sm-3 col-form-label">Bàn</label>
            <div class="col-sm-8">
              <select [(ngModel)]="Maban" name="Maban" class="form-control">
                <option value="*">Chọn bàn</option>
                <option *ngFor="let item of bans" [ngValue]="item._id">{{item.Tenban}} - {{item.Maban}}</option>
              </select>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label for="inputEmail1" class="col-sm-3 col-form-label">Hàng</label>
            <div class="col-sm-8">
              <select (change)="chonHang($event)" class="form-control">
                    <option value="*">Chọn mặt hàng</option>
                    <option value="Cafe-15000">Cafe - 15.000 VNĐ</option>
                    <option value="Sữa-10000">Sữa - 10.000 VNĐ</option>
              </select>
              <select multiple class="form-control" (keyup.delete)="xoaHang($event)">
                    <option *ngFor="let i of hangs" value="{{i.hang + '-' + i.soluong}}">{{i.text}}</option>
              </select>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label for="inputEmail1" class="col-sm-3 col-form-label">Tiền trả</label>
            <div class="col-sm-8">
              <input type="number" (change)="nhapTien()" [(ngModel)]="TienTra" name="TienTra" class="form-control" id="inputEmail1" placeholder="Tiền trả">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail1" class="col-sm-3 col-form-label">Tiền dư</label>
            <div class="col-sm-8">
              <input type="number" [(ngModel)]="TienDu" name="TienDu" class="form-control" id="inputEmail1" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail1" class="col-sm-3 col-form-label">Thanh toán</label>
            <div class="col-sm-8">
              <input type="text" [(ngModel)]="Thanhtoan" name="thanhtoan" class="form-control" id="inputEmail1" disabled>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button class="btn btn-primary" [disabled]="!isReady" (click)="xuatPhieu()">Xuất phiếu</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>