<div class="row">
  <div class="col-md-6 offset-md-3">
    <nb-card>
      <nb-card-header>Phiếu nhập hàng</nb-card-header>
      <nb-card-body>
        <form>
          <div style="display:none;" class="form-group row">
            <label for="inputEmail1" class="col-sm-3 col-form-label">Số phiếu nhập</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="Sophieunhap" name="sophieunhap" id="inputEmail1" placeholder="Số phiếu nhập">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="col-sm-3 col-form-label">Ngày nhập</label>
            <div class="col-sm-9">
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp" [(ngModel)]="Ngaynhap" ngbDatepicker #d="ngbDatepicker">
                    <button class="input-group-addon btn btn-primary btn-icon" (click)="d.toggle()" type="button">
                      <i style="color:#ffffff;" class="ion-calendar"></i>
                    </button>
                  </div>
                </div>
              </form>              
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3">Mã nhân viên</label>
            <div class="col-sm-9">
              <select [(ngModel)]="MaNV" name="manv" class="form-control">
                <option value="*">Chọn nhân viên</option>
                <option *ngFor="let item of listNhanViens" [ngValue]="item._id">{{item.TenNV}} - {{item.MaNV}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3">Hàng</label>
            <div class="col-sm-9">
              <select (change)="chonHang($event)" [(ngModel)]="Mahang" name="mahang" class="form-control">
                    <option value="*">Chọn mặt hàng</option>
                    <option *ngFor="let item of listHangs" value="{{item._id}}-{{item.Giahang}}">{{item.Tenhang}} - {{item.Giahang}} VNĐ</option>
              </select>
              <select multiple class="form-control" (keyup.delete)="xoaHang($event)">
                    <option *ngFor="let i of hangs" value="{{i.hang + '-' + i.soluong}}">{{i.text}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3">Ghi chú</label>
            <div class="col-sm-9">
              <textarea class="form-control" [(ngModel)]="Ghichu" name="ghichu" placeholder="Ghi chú." rows="5"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button [disabled]="isReady" (click)="nhapPhieu()" class="btn btn-primary">Nhập kho</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

